
@typeparam TUserDto where TUserDto : Sienar.Identity.SienarUserDto

<div class="full-height d-flex flex-column justify-space-between">
	<div>
		<DrawerHeader TUserDto="TUserDto"/>

		<MudDivider Class="my-2"/>

		<MudNavMenu>
			<MudNavLink Href="@Urls.Dashboard.Index"
			            Icon="@Icons.Material.Filled.SpaceDashboard"
			            Match="NavLinkMatch.All">
				Dashboard
			</MudNavLink>
			<MudNavGroup Title="My account"
			             Icon="@Icons.Material.Filled.AccountCircle">
				<MudNavLink Href="@Urls.Dashboard.MyAccount.EmailChange.Index"
				            Icon="@Icons.Material.Filled.Email">
					Email
				</MudNavLink>
				<MudNavLink Href="@Urls.Dashboard.MyAccount.PasswordChange.Index"
				            Icon="@Icons.Material.Filled.Lock">
					Password
				</MudNavLink>
				<MudNavLink Href="@Urls.Dashboard.MyAccount.PersonalData"
				            Icon="@Icons.Material.Filled.Archive">
					Personal data
				</MudNavLink>
			</MudNavGroup>

			<AuthorizeView Roles="@Roles.Admin">
				<MudNavLink Href="@Urls.Dashboard.Users.Index"
				            Icon="@Icons.Material.Filled.SupervisorAccount">
					Users
				</MudNavLink>
				<MudNavLink Href="@Urls.Dashboard.States.Index"
				            Icon="@Icons.Material.Filled.AccountBalance">
					States
				</MudNavLink>
			</AuthorizeView>

			@* These belong at the bottom of the list *@
			<MudNavLink Href="@Urls.Home"
			            Icon="@Icons.Material.Filled.Home"
			            Match="NavLinkMatch.All">
				Return home
			</MudNavLink>
			<MudNavLink Href="@Urls.Account.Logout"
			            Icon="@Icons.Material.Filled.Logout">
				Log out
			</MudNavLink>
		</MudNavMenu>
	</div>
</div>