@inherits SharedLayoutBase

<AppTheme/>

<MudLayout>
	<MudAppBar>
		<MudIconButton id="menu-toggler"
		               Icon="@Icons.Material.Filled.Menu"
		               Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
		#sitename# @* TODO: Set up site identity *@
	</MudAppBar>

    <MudDrawer @bind-Open="@DrawerOpen"
               Variant="DrawerVariant.Temporary"
               id="menu-drawer">
    	<MudNavMenu>
        	<DrawerHeader/>

        	<MudDivider Class="my-2"/>

        	<MudNavLink Href="@Urls.Home"
        	            Match="NavLinkMatch.All">
        		Home
        	</MudNavLink>

        	<AuthorizeView>
        		<Authorized>
        			<MudNavLink Href="@Urls.Dashboard.Index">
        				My dashboard
        			</MudNavLink>
        			<MudNavLink Href="@Urls.Account.Logout">
        				Log out
        			</MudNavLink>
        		</Authorized>
        		<NotAuthorized>
        			<MudNavLink Href="@Urls.Account.Register.Index">
        				Register
        			</MudNavLink>
        			<MudNavLink Href="@Urls.Account.Login">
        				Log in
        			</MudNavLink>
        		</NotAuthorized>
        	</AuthorizeView>
        </MudNavMenu>
    </MudDrawer>

	<MudMainContent Class="full-height d-flex flex-column">
		<div class="flex-grow-1">
			@ChildContent
		</div>

		<SiteFooter/>
	</MudMainContent>
</MudLayout>